<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostgreSQL com Node</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
            <h1><span class="spanPostgre">PostgreSQL</span> usando <span class="spanNode">Node</span>.JS</h1>

            <form action="" method="get" id="form">
                <input class="text" placeholder="Query SQL" type="text" id="query" name="query" required>

                <input class="button" type="submit" value="📩">
            </form>
        
        <div class="suggestion">
            <button onclick="users();">SELECT * FROM users;</button>
            <button onclick="equipamento();">SELECT * FROM equipamento;</button>
        </div>

        <div class="diagrama">
            <button onclick="diagrama();" >Diagrama Entidade-Relacionamento</button>
        </div>
    </div>

    <script>
            document.getElementById('form').addEventListener('submit', function(event) {
                event.preventDefault(); 
                window.open(`<%= baseURL%>/${document.getElementById("query").value}`, '_blank');
            });

            function users(){
                window.open(`<%= baseURL%>/get-users`, '_blank');
            }

            function equipamento(){
                window.open(`<%= baseURL%>/get-equipamento`, '_blank');
            }

            function diagrama(){
                window.open(`<%= baseURL%>/assets/schema.jpg`, '_blank');
            }
    </script>
</body>
</html>